/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== toolbarbutton.css =====================================================
  == Styles used by the XUL button element.
  ======================================================================= */

/* ::::: toolbarbutton ::::: */

toolbarbutton {
  -moz-appearance: toolbarbutton;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0;
  padding: 3px;
}

:root[lwtheme-image] toolbarbutton {
  text-shadow: none;
}

.toolbarbutton-text {
  margin: 0;
  text-align: center;
}

toolbarbutton.tabbable {
  -moz-user-focus: normal !important;
}

toolbarbutton[checked="true"] {
  color: ButtonText;
}

toolbarbutton:hover {
  color: -moz-buttonhovertext;
}

toolbarbutton:hover:active:not([disabled="true"]),
toolbarbutton[open="true"] {
  color: ButtonText;
}

toolbarbutton[disabled="true"] {
  color: GrayText;
}

toolbarbutton:-moz-lwtheme:not(:hover):not([checked="true"]):not([open="true"]):not([disabled="true"]) {
  text-shadow: inherit;
}

/* ::::: toolbarbutton menu ::::: */

.toolbarbutton-menu-dropmarker {
  -moz-appearance: toolbarbutton-dropdown;
}

/* ::::: toolbarbutton badged ::::: */
.toolbarbutton-badge-stack > .toolbarbutton-icon[label]:not([label=""]) {
  margin-inline-end: 0;
}

.toolbarbutton-badge {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #d90000;
  font-size: 10px;
  padding: 0 2px 1px;
  color: #fff;
  text-shadow: none;
  border-radius: 2px;
  box-shadow: 0 1px 0 hsla(0, 100%, 100%, .2) inset,
              0 -1px 0 hsla(0, 0%, 0%, .1) inset,
              0 1px 0 hsla(206, 50%, 10%, .2);
  margin: -6px 0 0 !important;
  margin-inline-end: -8px !important;
  min-width: 14px;
  max-width: 24px;
  line-height: 10px;
  text-align: center;
  align-self: start;
  justify-self: end;
}
